mixin header(name)
    header 
        .container
            .header-wrapper
                img(src=require('@/assets/img/header-logo.svg').default, alt="toxin")
                nav 
                    ul.header-nav 
                        li 
                            a(href="#") О нас 
                        li
                            a(href="#") Услуги
                            span expand_more
                        li 
                            a(href="#") Вакансии
                        li 
                            a(href="#") Новости 
                        li
                            a(href="#") Соглашения
                            span expand_more
                    .header-burger
                        input(type="checkbox" id="burger")
                        label(for="burger").burger
                            span
                        .burger-wrapper
                            ul.burger-menu 
                                li 
                                    a(href="#") О нас 
                                li
                                    a(href="#") Услуги
                                    span expand_more
                                li 
                                    a(href="#") Вакансии
                                li 
                                    a(href="#") Новости 
                                li
                                    a(href="#") Соглашения
                                    span expand_more
                            .burger-buttons
                                include ../buttons/button.pug
                                +button('button-outline', 'Войти')
                                +button('button', 'Зарегистрироваться')
                    if(name == '')
                        .header-entry
                            
                            +button('button-outline', 'Войти')
                            +button('button', 'Зарегистрироваться')
                    else 
                        .user-name 
                            a(href="")=name


