header {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    padding: 15px 0;
    box-sizing: border-box;
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        nav {
            display: flex;
            align-items: center;
        }
        .header-nav {
            display: flex;
            list-style-type: none;
            margin-right: 20px;
            li {       
                display: flex;
                align-items: center;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
                &:first-child a {
                    color: rgba(31, 32, 65, 0.75);
                    font-weight: bold;
                }
                a {
                    font-size: 0.875rem;
                    line-height: 1.0625rem;
                    color: rgba(31, 32, 65, 0.5);
                    text-decoration: none;
                }
                span {
                    font-family: 'Material Icons';
                    font-size: 1.5rem;
                    line-height: 1.25rem;
                    color: rgba(31, 32, 65, 0.5);
                    cursor: pointer;
                }
            }
        }
        .header-burger {
            .burger-menu {
                visibility: hidden;
                position: absolute;
                width: 50%;
                height: 100vh;
                background-color: rgba(31, 32, 65, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                list-style-type: none;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 20%;
                    a {
                        font-size: 0.875rem;
                        line-height: 1.0625rem;
                        color: white;
                        text-decoration: none;
                    }
                    span {
                        font-family: 'Material Icons';
                        font-size: 1.5rem;
                        line-height: 1.25rem;
                        color: white;
                        cursor: pointer;
                    }
                }
                .close {
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    width: 26px;
                    height: 26px;
                    cursor: pointer;
                    & > span,
                    & > span::before,
                    & > span::after {
                      display: block;
                      position: absolute;
                      width: 26px;
                      height: 2px;
                      background-color: #BC9CFF;
                    }
                    & > span::before {
                      content: '';
                      top: -8px;
                    }
                    & > span::after {
                      content: '';
                      top: 8px;
                    }
                    span {
                        transform: rotate(45deg);
                    }
                    span::before {
                        top: 0;
                        transform: rotate(0deg);
                    }
                    span::after {
                        top: 0;
                        transform: rotate(90deg);
                    }
                }
            }

            .burger {
                visibility: hidden;
                position: absolute;
                width: 26px;
                height: 26px;
                & > span,
                & > span::before,
                & > span::after {
                  display: block;
                  position: absolute;
                  width: 26px;
                  height: 2px;
                  background-color: #BC9CFF;
                }
                & > span::before {
                  content: '';
                  top: -8px;
                }
                & > span::after {
                  content: '';
                  top: 8px;
                }
            }
            #burger {
                position: absolute;
                opacity: 0;
                &:checked ~ label > span {
                    transform: rotate(45deg);
                }
                &:checked ~ label > span::before {
                    top: 0;
                    transform: rotate(0);
                }
                &:checked ~ label > span::after {
                    top: 0;
                    transform: rotate(90deg);
                }
                &:checked ~ .burger-menu {
                    visibility: visible;
                    left: 0;
                    top: 0;
                }
            }
        }
        .header-entry {
            display: flex;
            align-items: center;
            .button-outline {
                margin-right: 20px;
            }
            .button-outline, 
            .button {
                padding: 9px 20px;
            }
        }
        .user-name {
            border-left: 1px solid rgba(31, 32, 65, 0.1);
            padding-left: 20px;
            a {
                font-size: 0.875rem;
                line-height: 1.0625rem;
                color: rgba(31, 32, 65, 0.5);
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    header .header-wrapper .header-nav{
       display: none; 
    }
    header .header-wrapper .header-burger .burger {
        visibility: visible;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    header .header-wrapper .header-entry {
        margin-left: 20px;
    }

}

@media screen and (max-width: 768px) {
    .header-wrapper {
        flex-direction: column;
        img {
            margin-bottom: 20px;
        }
    }
}