div.pagination 
    ul.pagination__list 
        li
            span 1
        li 
            span 2
        li 
            span 3
        li
            span ... 
        li 
            span 15
        li 
            span 
                | arrow_forward
    p.pagination-sub
        | 1-12 из 100+ вариантов аренды