.pagination {
    .pagination__list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            span {
                font-size: 0.75rem;
                line-height: 15px;
                color: rgba(31, 32, 65, 0.5);
            }
            &:first-child {
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                border-radius: 22px;
                span {
                    color: #fff;
                    font-weight: bold;
                }
            }
            &:last-child {
                background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
                border-radius: 22px;
                span {
                    color: #fff;
                    font-family: 'Material Icons';
                    line-height: 20px;
                    font-size: 1.5rem;
                }
            }
        }
    }
}