<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title test
body
	section.main
		div.main__container
			include components/text_field/text_field.pug
			+focus('', 'default', 'Email')
			+focus('text_field__input_focus', 'hover / focus', 'This is pretty awesome')
			include components/dropdown/dropdown.pug
			div.main__container__item 
				div.component-title
					p Masked Text Field
					p Default
				div.component-container 
					include components/masked text field/masked_text.pug 
			
			div.main__container__item 
				p Date Dropdown
				div.component-container
					include components/date dropdown/date_dropdown.pug 
					+date-dropdown('_1')
					+date-dropdown('_2')
			div.main__container__item 
				p Filter Date Dropdown
				div.component-container
					include components/filter-date/filter-dropdown.pug
			
			div.main__container__item 
				p Subscriptions Text Field
				div.component-container
					include components/subscriptions-text-field/subscriptions-text-field.pug
			
		div.main__container
			div.main__container__item 
				p CheckBox Buttons
				div.component-container
					include components/checkbox-buttons/checkbox-buttons.pug
	
			div.main__container__item
				p Radio Buttons
				div.component-container
					include components/radio-buttons/radio-buttons.pug 
			
			div.main__container__item 
				p Toggle
				div.component-container.main__container__item_column 
					include components/toggle/toggle.pug 
					include components/toggle/toggle.pug 
					
			div.main__container__item
				p Like Button 
				div.component-container
					include components/like-button/like-button.pug 
					include components/like-button/like-button__active.pug 
	
			div.main__container__item
				p Rate Button
				div.component-container
					include components/rate-buttons/rate-buttons.pug 
					+rate-buttons('rate-one')
					+rate-buttons('rate-two')

	