<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title test
body
	section.main
		div.main__container
			include components/text_field/text_field.pug
			+focus('', 'default', 'Email')
			+focus('text_field__input_focus', 'hover / focus', 'This is pretty awesome')
			include components/dropdown/dropdown.pug


	