<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title test
body
	section.main
		div.main__container
			include components/text_field/text_field.pug
			+focus('', 'default', 'Email')
			+focus('text_field__input_focus', 'hover / focus', 'This is pretty awesome')
			include components/dropdown/dropdown.pug
			include components/masked text field/masked_text.pug 
			+masked('Masked Text Field')
			include components/date dropdown/date_dropdown.pug 
			+date-dropdown('Date Dropdown', '')
			+date-dropdown('Date Dropdown', '_default')
			include components/filter-date/filter-dropdown.pug
			+filter-dropdown('Filter Date Dropdown')
			include components/subscriptions-text-field/subscriptions-text-field.pug
			+subscriptions('Subscriptions Text Field')
		div.main__container
			include components/checkbox-buttons/checkbox-buttons.pug
			+checkbox-buttons('Checkbox Buttons')
			include components/radio-buttons/radio-buttons.pug 
			+radio-buttons('Radio Buttons')
			include components/toggle/toggle.pug 
			+toggle('Toggle')
			div.main__container__item
				p Like Button 
				div.component-container
					include components/like-button/like-button.pug 
					include components/like-button/like-button__active.pug 
	
			div.main__container__item
				p Rate Button
				div.component-container
					include components/rate-buttons/rate-buttons.pug 
					+rate-buttons('rate-one')
					+rate-buttons('rate-two')

	