<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title test
body
	section.main
		div.main__container.clearfix
			include components/text_field/text_field.pug
			+focus('', 'default', 'Email')
			+focus('text_field__input_focus', 'hover / focus', 'This is pretty awesome')
			include components/dropdown/dropdown.pug
			include components/masked text field/masked_text.pug 
			+masked('Masked Text Field')
			include components/date dropdown/date_dropdown.pug 
			+date-dropdown('Date Dropdown', '')
			+date-dropdown('Date Dropdown', '_default')
			include components/filter-date/filter-dropdown.pug
			+filter-dropdown('Filter Date Dropdown')

	