ul.rich-checkbox 
    li.rich-checkbox__item 
        label(for="corridor")
            input(type="checkbox" id="corridor")
            span 
            | Широкий коридор
        p.rich-checkbox__item__subtitle Ширина коридоров в номере<br> не менее 91 см.
    li.rich-checkbox__item 
        label(for="invalid")
            input(type="checkbox" id="invalid")
            span 
            | Помощник для инвалидов
        p.rich-checkbox__item__subtitle На 1 этаже вас встретит специалист <br> и проводит до номера.