div.entry-form 
    h1.entry-form__title Войти
    .entry-form__user-data 
        include ../text_field/text_field.pug
        .name 
            +text-field('text_field__input', 'Email', 'email')
        .surname
            +text-field('text_field__input', 'Пароль', 'password')
    include ../buttons/button.pug 
    +button('button-pay', 'Войти')
    .entry-form__have-acc 
        p Нет аккаунта на Toxin?
        +button('button-outline', 'Войти')