.button-outline {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 99px;
    height: 44px;
    border-radius: 22px;
    background: transparent;
    border: 2px solid #BC9CFF;
    margin-top: 30px;
    a {
        font-size: 0.75rem;
        line-height: 15px;
        text-transform: uppercase;
        color: #BC9CFF;
        text-decoration: none;
        font-weight: bold;
    }
}

.button-outline_hover:hover {
    opacity: 0.5;
}