.icon-link {
    margin-top: 31px;
    a {
        font-size: 0.75rem;
        font-weight: bold;
        line-height: 15px;
        text-transform: uppercase;
        color: #BC9CFF;
        text-decoration: none;
    }
}

.icon-link_hover a:hover {
    color: rgba(31, 32, 65, 0.5);
}