mixin rate-buttons(name)
    div(id=name)
        ul.rate-buttons-list
            li.rate-buttons-list__item 
                span star_border
            li.rate-buttons-list__item  
                span star_border
            li.rate-buttons-list__item  
                span star_border
            li.rate-buttons-list__item  
                span star_border
            li.rate-buttons-list__item  
                span star_border
