mixin rate-buttons(rate)
    ul.rate-buttons-list.clearfix
        -for(let i = 1; i <= 5; i++)
            li.rate-buttons-list__item
                if(i <= rate) 
                    span star
                else 
                    span star_border

