ul(id="rate-buttons").rate-buttons-list
    li.rate-buttons-list__item 
        span star_border
    li.rate-buttons-list__item  
        span star_border
    li.rate-buttons-list__item  
        span star_border
    li.rate-buttons-list__item  
        span star_border
    li.rate-buttons-list__item  
        span star_border
