.randge-slider__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    #amount {
        width: 40%;
        outline: none;
        border: none;
        text-align: right;
        color: rgba(31, 32, 65, 0.5);
        text-transform: uppercase;
    }
}

.range-slider .range-slider__subtitle {
    margin-top: 10px;
}


.ui-slider {
    width: 266px;
    height: 6px;
    border: 1px solid rgba(31, 32, 65, 0.25) !important;
    border-radius: 3px;
}

.ui-slider-range {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.ui-slider-handle {
    width: 12px !important;
    height: 12px !important;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%) !important;
    border: 2px solid #FFFFFF !important;
    border-radius: 50%;
    outline: none;
}

#amount {
    background-color: white;
}

