div.search-room 
    h1.search-room__title 
        | Найдём номера под 
        <br> ваши пожелания
    .search-room__time
        include ../date dropdown/date_dropdown.pug
        +date-dropdown('Прибытие','Выезд', 'search-room__date-dropdown')
    .search-room__guests 
        h3.guests__title Гости
        include ../dropdown/dropdown.pug
        +Dropdown('Сколько гостей', '', 'Взрослые', 'Дети', 'Младенцы')
    .search-room__button 
        include ../buttons/button.pug 
        +button('button-pay', 'Подобрать номер')