div.search-room 
    h1.search-room__title 
        | Найдём номера под ваши пожелания
    .search-room__time
        include ../date dropdown/date_dropdown.pug
        .from 
            h3.from__title Прибытие
            
        .to
            h3.to__title Выезд
            
    .search-room__guests 
        h3.guests__title Гости
        include ../dropdown/dropdown.pug
        +Dropdown('Сколько гостей', '', 'Взрослые', 'Дети', 'Младенцы')
    .search-room__button 
        include ../buttons/button.pug 
        +button('button-pay', 'Подобрать номер')