mixin focus(mod)
    div.text-field 
        p.text-field__title text field 
        p.text-field__title default
        form(action="#").text_field__form
            input(type="text" placeholder="Email" class="text_field__input" + " " + mod)