div.text-field 
    p.text-field__title text field 
    p.text-field__title default
    form(action="#").text_field__form
        input(type="text" placeholder="Email").text_field__input.text_field__input_focus