ul.icon-text-list
    li 
        span insert_emoticon
        div.icon-text-list__description
            p.title Комфорт
            p.subtitle Шумоподавляющие стены
    li 
        span location_city
        div.icon-text-list__description
            p.title Удобство
            p.subtitle Окно в каждой из спален