mixin comment(name, time, description, id)
    div(id=id).comment 
        div.comment__title 
            div.avatar
            div.name-time 
                p(class="name")=name 
                p=time 
        div.comment__description 
            +like('11')
            p=description