@font-face {
	font-family: 'Quicksand';
	src: url('fonts/Quicksand-Bold.eot');
	src: local('☺'), url('fonts/Quicksand-Bold.woff') format('woff'), url('fonts/Quicksand-Bold.ttf') format('truetype'), url('fonts/Quicksand-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}