footer 
    .container
        .footer-wrapper
            .footer-description 
                img(src=require('@/assets/img/header-logo.svg').default, alt="")
                p Бронирование номеров в лучшем <br>
                    | отеле 2019 года по версии <br> 
                    | ассоциации «Отельные взгляды»
            .footer-list
                h3 Навигация 
                ul 
                    li 
                        a(href="#") О нас 
                    li 
                        a(href="#") Новости 
                    li 
                        a(href="#") Служба поддержки
                    li 
                        a(href="#") Услуги
            .footer-list
                h3 О нас 
                ul 
                    li 
                        a(href="#") О сервисе
                    li 
                        a(href="#") Наша команда
                    li 
                        a(href="#") Вакансии
                    li 
                        a(href="#") Инвесторы           
            .footer-list
                h3 Служба поддержки
                ul 
                    li 
                        a(href="#") Соглашения
                    li 
                        a(href="#") Сообщества
                    li 
                        a(href="#") Связь с нами
            .footer-list
                h3 Подписка 
                ul 
                    li 
                        p Получайте специальные <br>
                        | предложения и новости сервиса
                    li 
                        include ../subscriptions-text-field/subscriptions-text-field.pug
.footer-bottom 
    .container
        .footer-wrapper
            p Copyright © 2018 Toxin отель. Все права зачищены.
            .footer-icons 
                a(href="")
                    i.fa.fa-twitter
                a(href="")
                    i.fa.fa-facebook-square
                a(href="")
                    i.fa.fa-instagram
                