.subscriptions__form {
    width: 267px;
    height: 44px;
    box-sizing: border-box;
    padding-left: 15px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    padding-top: 8px;
    input {
        border: none;
        outline: none;
        font-size: 0.875rem;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.25);
    }

    img {
        content: url(../../assets/arrow_forward.png);
        padding-right: 15px;
        padding-top: 4px;
        cursor: pointer;
        float: right;
    }
}
