.subscriptions__form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 267px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    input {
        width: 75%;
        border: none;
        outline: none;
        font-size: 0.875rem;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.25);
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        font-family: 'Material Icons';
        font-size: 1.5rem;
        color: #BC9CFF;
        cursor: pointer;
    }
}
