form(action="#").radio-container
    label(for="male").radio-button
        input(type="radio" id="male" name="sex")
        span.radio-button__radio
        | Мужчина
    label(for="female").radio-button
        input(type="radio" id="female" name="sex")
        span.radio-button__radio
        | Женщина