label {
    display: flex;
    align-items: center; 
    float: left;       
    font-size: 0.875rem;
    padding-left: 1.875rem;
    margin-right: 1.25rem;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    input {
        appearance: none;
        position: absolute;
    }
    .radio-button__radio {
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        border: 1px solid #BC9CFF;
        border-radius: 10px;
        margin-left: -2em;
    }

    input:checked + .radio-button__radio {
        background-image: url(../../assets/radio-check.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}
