div.booking-form 
    .booking-form__title 
        p.title__number № 888 
            span люкс
        p.title__price 9 990₽ 
            span в сутки
    .booking-form__time
        include ../date dropdown/date_dropdown.pug
        .from 
            h3.from__title Прибытие
            
        .to
            h3.to__title Выезд
            
    .booking-form__guests 
        h3.guests__title Гости
        include ../dropdown/dropdown.pug
        +Dropdown('Сколько гостей', '', 'Взрослые', 'Дети', 'Младенцы')
    ul.booking-form__price-list 
        li 
            p 9 990₽ х 4 суток
            p 39 960₽
        li 
            p Сбор за услуги: скидка 2 179₽ 
                span i 
            p 0₽
        li 
            p Сбор за дополнительные услуги
                span i 
            p 300₽
        li.price-list__total 
            h2 Итого
            h2 38 081₽
    include ../buttons/button.pug 
    +button('button-pay', 'Забронировать')