<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Landing Page
    body
        include ../components/header/header.pug 
        +header('')
        main
            .image-wrapper
                p.subtitle-mobile Лучшие номера для вашей работы, <br> отдыха и просто вдохновения   
            .landing-container       
                .wrapper
                    .search-window
                        include ../components/search-room/search-room.pug
                    p.main__subtitle Лучшие номера для вашей работы, <br> отдыха и просто вдохновения
        include ../components/footer/footer.pug