<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FSD - Cards
    body
        div.logo
        main
            .main__column 
                .column__item
                    include ../components/search-room/search-room.pug
                .column__item
                    include ../components/registration/registration.pug
            .main__column 
                .column__item
                    include ../components/booking-form/booking-form.pug
                .column__item 
                    include ../components/entry-form/entry-form.pug
            .main__column
                .column__item 
                    include ../components/filter-expand-dropdown/filter-expand-dropdown.pug
                .column__item
                    include ../components/room-block/room-block.pug 
                    +room-block('№ 888', 'Люкс', '9 990', '145', 'room-1.png')
                .column__item 
                    +room-block('№ 840', '', '9 900', '65', 'room-2.png')
