<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FSD - Headers & Footers
    body
        div.logo
        main 
            .main__item 
                include ../components/header/header.pug
                +header('')
            .main__item 
                +header('Юлий Цезарь')
            .main__item 
                include ../components/footer/footer.pug
            .main__item 
                include ../components/footer-creative/footer-creative.pug