<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon.png">
        title UI-KIT
    body
        div.logo
        main
            .main__column 
                .column__item
                    include ../components/search-room/search-room.pug
                .column__item
                    include ../components/registration/registration.pug
            .main__column 
                .column__item
                    include ../components/booking-form/booking-form.pug
                .column__item 
                    include ../components/entry-form/entry-form.pug
            .main__column
                .column__item 
                    include ../components/filter-expand-dropdown/filter-expand-dropdown.pug
                .column__item
                    include ../components/room-block/room-block.pug 
                    +room-block('room-1.png', '№ 888', 'Люкс', '9 990', '145', '5')
                .column__item 
                    +room-block('room-2.png', '№ 840', '', '9 900', '65', '4')
