<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FSD - Cards
    body
        div.logo
        main
            .main__column 
                .column__item
                    include ../components/search-room/search-room.pug
                .column__item
                    include ../components/registration/registration.pug
            
