.filter-dropdown__form {
    display: flex;
    box-sizing: border-box;
    width: 266px;
    height: 44px;
    background-color: white;
    padding-left: 15px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
        input {
            border: none;
            outline: none;
            line-height: 24px;
            font-size: 0.875rem;
            color: rgba(31, 32, 65, 0.75);
        }
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Material Icons';
            font-size: 1.5rem;
            line-height: 1.5rem;
            width: 44px;
            height: 44px;
            color: rgba(31, 32, 65, 0.5);
        }
}
