.filter-dropdown__form {
        box-sizing: border-box;
        width: 266px;
        height: 44px;
        padding-top: 8px;
        padding-left: 15px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        input {
            border: none;
            outline: none;
            width: 80%;
            line-height: 24px;
            font-size: 0.875rem;
            color: rgba(31, 32, 65, 0.75);
        
        }
        img {
            content: url(../../assets/expand_more.png);
            float: right;
            padding: 10px;
        }
}
