.dropdown {
    #dropdown-button {
        width: 290px;
        height: 24px;
        padding: 12px 15px 8px 15px;
        outline: none;
        background-color: #fff;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
    }
}
