mixin Dropdown(placeholder, id, title1, title2, title3)
    div(class="dropdown" + id)
        div.dropdown__form       
            p.dropdown__form_placeholder=placeholder
            span expand_more     
        ul.dropdown__list  
            li(id="dropdown-adult").dropdown__list__item
                div.dropdown__list__item__title
                    h3=title1
                div.dropdown__list__item__button
                    div.dropdown-button.dropdown-button_disable
                        span.minus -
                    input(type="text" value="0")
                    div.dropdown-button
                        span.plus +
            li(id="dropdown-child").dropdown__list__item
                div.dropdown__list__item__title
                    h3=title2
                div.dropdown__list__item__button
                    div.dropdown-button.dropdown-button_disable
                        span.minus -
                    input(type="text" value="0")
                    div.dropdown-button
                        span.plus +
            li(id="dropdown-baby").dropdown__list__item
                div.dropdown__list__item__title
                    h3=title3
                div.dropdown__list__item__button
                    div.dropdown-button.dropdown-button_disable
                        span.minus -
                    input(type="text" value="0")
                    div.dropdown-button
                        span.plus +
            li.dropdown__complete-button
                P(class="dropdown__complete-button__clear") Отчистить
                p(class="dropdown__complete-button__done") Применить