.dropdown, .dropdown_bedroom {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 2px;
    .dropdown__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 320px;
        height: 44px;
        background-color: white;
        box-sizing: border-box;
        
        cursor: pointer;
        padding-left: 15px;
        .dropdown__form_placeholder {
            font-size: 0.875rem;
            line-height: 1.5rem;
            color: rgba(31, 32, 65, 0.75);
            text-transform: none;
        }
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            font-family: 'Material Icons';
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: rgba(31, 32, 65, 0.5);
        }
    }
    .dropdown__list {
        background: #fff;
        margin: 0;
        width: 320px;
        list-style: none;
        padding: 0px 15px;
        box-sizing: border-box;
        border-top: 1px solid rgba(31, 32, 65, 0.5);;
        .dropdown__list__item {
            display: flex;
            justify-content: space-between;
            .dropdown__list__item__title {
                display: flex;
                align-items: center;
                p {
                    font-size: 0.75rem;
                    line-height: 0.9375rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #1F2041;
                }
            }
            .dropdown__list__item__button {
                display: flex;
                justify-content: space-between;
                align-items: center;
                input {
                    width: 15px;
                    text-align: center;
                    border: none;
                    font-size: 0.75rem;
                    line-height: 0.9375rem;
                    text-transform: uppercase;
                    margin: 0px 10px;
                }
                .dropdown-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    border: 1px solid rgba(31, 32, 65, 0.25);
                    border-radius: 22px;
                    box-sizing: border-box;
                    cursor: pointer;
                    .minus, .plus {
                        color: rgba(31, 32, 65, 0.5);
                        user-select: none;
                    }
                    
                }
                .dropdown-button_disable {
                    cursor: default;
                    opacity: 0.25;
                }
            }
        }
        .dropdown__complete-button {
            display: flex;
            justify-content: flex-end;
        }

        .dropdown__complete-button p {
            display: inline-block;
            font-size: 0.75rem;
            line-height: 0.9375rem;
            font-weight: bold;
            text-transform: uppercase;
            color: #BC9CFF;
            cursor: pointer;
        }
    }
}

.dropdown_bedroom {
    .dropdown__form, .dropdown__list {
        width: 266px;
    }
    .dropdown__list .dropdown__complete-button {
        display: none;
    }
}


