ul.checkbox-buttons__list
    li 
        h3 Checkbox Buttons
    li 
        label(for="smoking") 
            input(type="checkbox" id="smoking")
            span.checkbox-buttons__list__item
            | Можно курить
        
    li 
        label(for="animal") 
            input(type="checkbox" id="animal")
            span.checkbox-buttons__list__item 
            | Можно с питомцами
    li 
        label(for="ivent")
            input(type="checkbox" id="ivent")
            span.checkbox-buttons__list__item
            | Можно пригласить гостей <br> (до 10 человек)
