.checkbox-buttons__list {
    list-style-type: none;
    li:last-child {
        margin-bottom: 0;
    }

    li {
        margin-bottom: 13px;
        display: flex;
        align-items: center;
        label {
            font-size: 0.875rem;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.5);
            padding-left: 2em;
            input {
                -moz-appearance: none;
                -webkit-appearance: none;
                position: absolute;
            }
        }

        .checkbox-buttons__list__item {
            position: absolute;
            width: 1.25rem;
            height: 1.25rem;
            background-image: url(../../assets/checkbox.png);
            margin-left: -2em;
        }

        input:checked + .checkbox-buttons__list__item {
            background-image: url(../../assets/checkbox-checked.png);
        }
        
    }
}
