.date-dropdown__form {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 150px;
    height: 44px;
    background-color: white;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    input {
        color: rgba(31, 32, 65, 0.75);
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.5rem;
        background-color: white;
        border: none;
        width: 103px;
        height: 24px;
        float: left;
        outline: none;
        box-sizing: border-box;
        padding-left: 15px;
        line-height: 18px;
    }
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Material Icons';
        font-size: 1.5rem;
        line-height: 1.5rem;
        width: 44px;
        height: 44px;
        color: rgba(31, 32, 65, 0.5);
    }
}
