mixin date-dropdown(title, mod)
    div.date-dropdown 
        p=title
        form(action="#").date-dropdown__form
            input(type="text" id="datepicker" + mod placeholder="ДД.ММ.ГГГГ")
            
            