mixin date-dropdown(from, to, id)
    div(id=id).date-dropdown__container
        .date-dropdown__from
            h3=from
            form(action="#").date-dropdown__form
                input(type="text" class="datepicker-from" placeholder="ДД.ММ.ГГГГ" readonly)
                span expand_more
        .date-dropdown__to
            h3=to
            form(action="#").date-dropdown__form
                input(type="text" class="datepicker-to" placeholder="ДД.ММ.ГГГГ" readonly)
                span expand_more    
            
            