.date-dropdown__container {
    display: flex;
    width: 320px;
    justify-content: space-between;
    .date-dropdown__from {
        margin-right: 20px;
    };
    .date-dropdown__from,
    .date-dropdown__to {
        width: 100%;
    }
    .date-dropdown__from h3,
    .date-dropdown__to h3 {
        margin-bottom: 5px;
    }
}

.date-dropdown__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 44px;
    background-color: white;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    cursor: pointer;
    input {
        color: rgba(31, 32, 65, 0.75);
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.5rem;
        background-color: white;
        border: none;
        width: 80%;
        height: 24px;
        float: left;
        outline: none;
        box-sizing: border-box;
        padding-left: 15px;
        line-height: 18px;
        cursor: pointer;
    }
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Material Icons';
        font-size: 1.5rem;
        line-height: 1.5rem;
        width: 44px;
        height: 44px;
        color: rgba(31, 32, 65, 0.5);
    }
}

.date-dropdown {
    width: 320px;
    padding: 20px 30px;
    box-sizing: border-box;
    .datepicker--pointer {
        display: none;
    }
    .datepicker--nav {
        border-bottom: none;
        margin-bottom: 20px;
        .datepicker--nav-action {
            font-family: 'Material Icons';
            font-size: 1.5rem;
            line-height: 1.25rem;
            color: #BC9CFF;
        }
    }
    .datepicker--content {
        margin-bottom: 20px;
        .datepicker--day-name {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            font-size: 0.75rem;
            line-height: 0.9375rem;
            color: #BC9CFF;
            height: 40px;
        }
        .datepicker--cell {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 0.75rem;
            line-height: 0.9375rem;
            color: rgba(31, 32, 65, 0.5);
        }
        .-other-month- {
            color: rgba(31, 32, 65, 0.25);
        }
        .-current- {
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            border-radius: 50%;
            color: white;
            font-weight: bold;
        }
        
        .-selected- > .bg-selected {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-radius: 22px;
        }
        
        .-in-range- > .bg-selected {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            opacity: 0.25;
        }

        .-range-from- {
            background-image: linear-gradient(to left, #eae1ff 0%, white 50%);
            color: white;
            font-weight: bold;
        }
        .-range-to- {
            background-image: linear-gradient(to right, #eae1ff 0%, white 100%);
            color: white;
            font-weight: bold;
        }
    }
    .datepicker--buttons {
        flex-direction: row-reverse;
        border-top: none;
        justify-content: space-between;
        span:last-child {
            color: rgba(31, 32, 65, 0.5);
        }
        span:first-child {
            color: #BC9CFF;
        }
        .datepicker--button {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            font-size: 0.75rem;
            line-height: 0.9375rem;
            text-transform: uppercase;
            height: auto;
            flex: none;
        }
    }
}
