.date-dropdown__form {
    box-sizing: border-box;
    width: 150px;
    height: 44px;
    background-color: white;
    border: 1px solid rgba(31, 32, 65, 0.25);
    padding-top: 8px;
    border-radius: 4px;
    input {
        background-color: white;
        border: none;
        width: 103px;
        height: 24px;
        float: left;
        outline: none;
        box-sizing: border-box;
        padding-left: 15px;
        line-height: 18px;
    }
}
