main {
    height: 100vh;
    padding: 70px 0 18px 0;
    background-image: url('../assets/img/landing-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .main__subtitle {
        text-align: right;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        align-items: center;
    }
}

@media screen and (max-width: 420px) {
    .wrapper .search-window .search-room {
        width: 100%;
    }
}
