main {
    height: 100vh;
    padding: 70px 0 18px 0;
    background-image: url('../assets/img/landing-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .main__subtitle {
        text-align: right;
    }
}

