.main-wrapper {
    display: flex;
    justify-content: center;
    padding: 172px 0;
    background-image: url(../assets/img/registration-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image-wrapper {
    display: none;
    img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 420px) {
    .image-wrapper {
        display: block;
    }
    .main-wrapper {
        background-image: none;
        padding: 20px 0;
    }
}