@import '../assets/montserrat.css';
@import '../assets/material.css';

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
};

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 143px;
    .main__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .main__container__item {
            display: flex;
            flex-direction: column;
            P {
                font-size: 0.75rem;
                font-weight: bold;
                line-height: 15px;
                text-transform: uppercase;
                color: #1F2041;
            }
            .component-container {
                display: flex;        
            }
            .main__container__item_column {
                flex-direction: column;
            }
        }
    }
}

/* rate-buttons */ 

#rate-one {
    margin-right: 20px;
}


