body {
    padding: 140px 0;
    background-color: #E5E5E5;
}


.logo {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 30px;
    left: 30px;
    background-image: url(../assets/logo.svg);
}

main {
    display: grid;
    grid-template-rows: auto 40px auto 40px auto 40px auto;
    .main__item:first-child {
        grid-row: 1/2;
    }
    .main__item:nth-child(2) {
        grid-row: 3/4;
    }
}