body {
    background-color: white;
}

main {
    padding: 143px 141px 46px 140px;
}

.logo {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 30px;
    left: 30px;
    background-image: url(../assets/logo.svg);
}

.main {
    display: grid;
    grid-template-rows: auto 100px auto 172px auto 100px auto;
    grid-template-columns: auto auto auto;
    margin-bottom: 100px;
    div:first-child, div:nth-child(2), div:nth-child(3) {
        grid-row: 1 / 2;
        
    }
    div:nth-child(6), div:nth-child(5), div:nth-child(4) {
        grid-row: 3 / 4;
    }
    div:nth-child(7), div:nth-child(8), div:nth-child(9) {
        grid-row: 5 / 6;
    }
    div:nth-child(10), div:nth-child(11) {
        grid-row: -1 / -2;
    }

    div:nth-child(11) {
        grid-column: 2 / 4;
    }

    .main__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .main__container__item {
            display: flex;
            flex-direction: column;
            .component-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 15px;
                input {
                    outline: none;
                    border: none;
                    text-align: right;
                    font-size: 0.75rem;
                    line-height: 15px;
                    text-transform: uppercase;
                    color: rgba(31, 32, 65, 0.5);
                }
                p {
                    text-transform: uppercase;
                }
               
            }
            .component-container {
                display: flex;        
            }
            .main__container__item_column {
                flex-direction: column;
            }
        }
    }
}

/* margins */

.item__text-field, .item__dropdown {
    margin-bottom: 20px;
}

.item__masked-text-field, .item__checkbox-buttons, .item__date-dropdown, 
    .item__radio-buttons, .item__filter-date-dropdown, .item__toggle, .item__like-buttons,
    .item__range-slider, .item__buttons, .item__expandable-checkbox-list   {
    margin-bottom: 40px;
}

.item__date-dropdown  .date-dropdown__form:first-child,
    .item__rate-buttons #rate-buttons, 
    .item__buttons .button,
    .item__buttons .button-outline,
    .item__buttons .icon-link {
    margin-right: 20px;
}

.item__buttons div:nth-child(3),
.item__buttons div:nth-child(5) {
    margin-top: 30px;
}