.like-button__label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 20px;
    background-color: white;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;   
    margin-right: 10px;
    cursor: pointer;
    span {
        display: inline-block;
        height: 10px;
        font-family: 'Material Icons';
        font-size: 0.625rem;
        line-height: 9px;
        color: rgba(31, 32, 65, 0.25);
        user-select: none;
    }
    .btn-counter {
        margin-left: 5px;
        font-size: 0.625rem;
        text-decoration: none;
        line-height: 12px;
        color: rgba(31, 32, 65, 0.25);
        user-select: none;
    }
}   

.like-button__label_active {
    border-color: #BC9CFF !important;
    a {
        color: #BC9CFF !important;
    }
    span {
        color: #BC9CFF !important;
    }
}
