.like-button__label {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;   
    cursor: pointer;
    span {
        font-family: 'Material Icons';
    }
    .btn-counter {
        position: absolute;
        left: 22px;
        top: 3px;
        right: 12px;
        bottom: 4px;
        font-size: 0.625rem;
        text-decoration: none;
        line-height: 12px;
        color: rgba(31, 32, 65, 0.25);
    }

}